@import "tailwindcss";

:root {
  --color-primary: #0AB5A9;
  --color-secondary: #77F1FF;
  --color-white: #FFFFFF;
  --color-black: #182528;

  --color-bg-primary: #030F18;
  --color-bg-secondary: #0C151B;
  --color-bg-tertiary: #0E1E24;
  --color-bg-fourth: #14242F;

  --gradient-1: linear-gradient(270deg, #0AB5A9 0%, #77F1FF 100%);

  --font-jakarta: var(--font-jakarta, "Plus Jakarta Sans"), sans-serif;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-white: var(--color-white);
  --color-black: var(--color-black);
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-bg-tertiary: var(--color-bg-tertiary);
  --color-bg-fourth: var(--color-bg-fourth);

  --font-sans: var(--font-jakarta);

  --gradient-1: var(--gradient-1);
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 25s linear infinite;
  }

  @media (max-width: 1024px) {
    .animate-marquee {
      animation-duration: 18s;
    }
  }

  @media (max-width: 768px) {
    .animate-marquee {
      animation-duration: 12s;
    }
  }
  
}

.custom-pagination .swiper-pagination-bullet {
  @apply w-2 h-2 rounded-full bg-white/60 transition-all duration-300;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply bg-primary scale-110 shadow-[0_0_10px_theme(colors.primary),_0_0_25px_rgba(10,181,169,0.5)];
}

@media (max-width: 768px) {
  .custom-pagination {
    @apply w-[42%] max-w-[42%];
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .custom-pagination {
    @apply w-[20%] max-w-[20%];
  }
  .mobile-bg {
    background: var(--color-bg-primary);
  }
}


body {
  background-color: var(--color-bg-primary);
  color: var(--color-tertiary);
  font-family: var(--font-jakarta);
}

@media (max-width: 768px) {
  .mobile-bg {
    background: var(--color-bg-primary);
  }
  .line-break{
    display: block;
  }
}

.video-br{
  background: color-mix(in srgb, var(--color-white) 10%, transparent);
  backdrop-filter: blur(4px);
}


